<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="LOG_LEVEL">TRACE</Property>
    </Properties>
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false"
                           pattern="%d{HH:mm:ss.SSS} %highlight{%-5p %style{[%-t]}{cyan} %style{[%c{1}:%L]}{magenta} %style{%msg%n}{light gray}}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=light green, DEBUG=light blue, TRACE=white}"/>
        </Console>
    </Appenders>
    <Loggers>
        <AsyncRoot level="TRACE" additivity="false">
            <AppenderRef ref="stdout" level="ALL"/>
        </AsyncRoot>
    </Loggers>
</Configuration>